/* #region Commons */
:root{
    --zoom-dark:#000000;
    --zoom-light:#ffffff;
    --zoom-primary-dark:#222222;
    --zoom-primary-light:#4a4a4a;
    --zoom-success:#4bc800;
    --zoom-danger:#e51b32;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--zoom-dark);
    font-family: 'Lato', sans-serif;
    overflow: hidden;
}


/* #endregion /Commons */

/*  #region Utility */
.container {
    width: calc(90% + 2rem);
    height: calc(100vh - 160px) ;
    margin: auto;
    margin-top: 1.5rem;
    overflow-y: auto;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img{
    max-width: 100%;
    display: block;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: var(--zoom-primary-dark);
}
::-webkit-scrollbar-track {
  background: var(--zoom-primary-dark);
}

::-webkit-scrollbar-thumb {
  border-bottom: 100vh solid var(--zoom-primary-light);
  border-radius: 10px;

}

/*  #endregion Utility */

.icon_name{
    font-size: 1rem;
    padding: 0.5rem;
}

.navigation_bar_icon {
    font-size: 1.5rem;
}
/*  #endregion /Utility */

/* #region Main*/
.main {
    height: calc(100vh - 160px);
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

.column-7{
    width: 293px;
}

.screen_image{
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.top_right_badge{
    color: var(--zoom-light);
    height: 50px;
    text-align: end;
    line-height: 50px;
}

.speaker_view{
    margin: 0.3rem;
    background-color: var(--zoom-primary-light);
    padding: 0 0.3rem 0.3rem;
    margin-right: 0.3rem;
    border-radius: 0.3rem;
    vertical-align: middle;
}

.fa-grip{
    vertical-align: middle;
}

.fa-arrows-up-down-left-right{
    margin: 0.3rem;
    background-color: var(--zoom-primary-light);
    padding: 0.3rem 0.3rem 0.3rem;
    margin-right: 1rem;
    border-radius: 0.3rem;
    vertical-align: middle;
}

.user_name{
    font-size: 0.9rem;
    color: var(--zoom-light);
    background-color: rgba(186, 186, 186, 0.206);
    padding: 0.2rem;
    border-radius: 0.3rem;
    position: absolute;
    bottom: 0.4rem;
    left: 0.2rem;
}

.card_screen{
    position: relative;

}

/* #endregion /Main*/

/* Navigation bar */

.navigation_bar{
    background-color: var(--zoom-primary-dark);
    color: var(--zoom-light);
    width: 100%;
    height: 60px;
}

.navigation{
    background-color: var(--zoom-primary-dark);
    height: 89px;
}

.icon{
    padding: 0.4rem;
    text-align: center;
}

.fa-angle-up {
    align-self: center;
    font-size: 0.6rem;
    padding: 0.3rem;
}

.green{
    color: var(--zoom-success);
}

.end_meeting{
    color: var(--zoom-danger);
    font-size: 1rem;
    background-color: var(--zoom-primary-light);
    height: 100%;
    padding: 2rem;
    border: 1px solid var(--zoom-primary-light);
}